.header-container {
  background-color: var(--dark-color);
  color: var(--light-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}
.header-container h1 {
  margin: 10px;
  font-size: 1.7rem;
}
